__pycache__
wandb

.DS_store
/samples/
/results/
pretrained_models

/models/
__pycache__/
*.pth
.cache/
/checkpoints/
upload_to_hf.py
/*.png
/stats/
/data/
/ckpts/
data
models

# ignore everything under assets
assets/**

# allow assets directory
!assets/

# allow group4 directory
!assets/group4/

# allow ONLY this file
!assets/group4/object.json